node_modules
.pnpm-store
.git
.gitignore
.vscode
.DS_Store
coverage
*.log
.agent
.trae
.cursor
.cursorrules
/tmp
.husky
dist-docs
Dockerfile
.dockerignore
.gitlab-ci.yml
CONTRIBUTING.md
README.md
.eslintignore
.eslintrc.cjs
.prettierignore
.prettierrc
.stylelintignore
.stylelintrc.cjs
.commitlintrc.js
.versionrc.js